{% extends 'base.html' %}

{% block content %}
<h1>Find Available Books</h1>
<form action="{% url 'report' %}" method="get"> <!-- Changed method to 'get' for search -->
    {% csrf_token %}
    <div class="form-group">
        <label for="authorInput">Author</label>
        <input type="text" class="form-control" id="authorInput" name="author" placeholder="Enter author's name">
    </div>

    <div class="form-group">
        <label for="bookInput">Book Title</label>
        <input type="text" class="form-control" id="bookInput" name="title" placeholder="Enter book title">
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>

{% if books %}
<ul class="list-group">
    {% for book in books %}
    <li class="list-group-item">{{ book.title }} by {{ book.author }} is available at library {{ book.library_name }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No books found.</p>
{% endif %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endblock %}
